@model WEvaha.Models.DashboardProfileModel
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout_New_Dashboard.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css'>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script type="text/javascript">
        $.ajax({
         type: 'POST',
         url: "@(Url.Action("IsFullyRegistered", "Home"))",
         success: function (data) {            
             if (data != "") {
                 $('#myModalContent').html(data);
                 $('#myModal').modal('show');
             }            
          },
        error: function () {
            alert("Dynamic content load failed.");
        }
    });
</script>

<div class="container" style="padding-top:30px;">
    <div class="row">
        <div class="col-md-12">
            <div class="mainH1">Compatible Matches</div>
        </div>
    </div>
    @if (Model.compatibleMatches != null)
    {
        if (Model.compatibleMatches.Count > 0)
        {
            <div class="row">
                @for (int i = 0; i < Model.compatibleMatches.Count; i++)
                {
                    if ((i % 4) == 0)
                    {
                        @(new HtmlString("</div><div class='row'>"))
                    }
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <a href="@Url.Action("ProfilebyId", "DashBoard", new { vprofilId =Model.compatibleMatches[i].ProfileId +"!WEProfInfo"})" class="boxGird">
                            <div class="GridImgHome">
                                @if (string.IsNullOrEmpty(Model.compatibleMatches[i].DefaultPhotoUrl))
                                {<img src="../assets/img/profilePic.jpg" alt="img" class="Img-fit">}
                                else
                                {<img src="@Model.compatibleMatches[i].DefaultPhotoUrl" alt="img" class="Img-fit">}

                            </div>
                            <div class="contGridHome">
                                <div class="H1GridHome">@Model.compatibleMatches[i].ProfileName @Model.compatibleMatches[i].ProfileLastName </div>
                                <div class="AHLgridHome">@Model.compatibleMatches[i].Age Yrs, @Model.compatibleMatches[i].Height, @Model.compatibleMatches[i].MotherTongue</div>
                                <div class="cityGridHome">@Model.compatibleMatches[i].City / @Model.compatibleMatches[i].StateName</div>

                            </div>
                        </a>
                    </div>
                }
                @if (Model.compatibleMatches.Count >= 8)
                {
                    <div class="row">
                        <div class="col-md-12 text-center ptb-30"><a href="@Url.Action("CompatableMatches", "DashBoard", new { PageIndex = 1, From = 1 })" class="btn btn-common btn-sm">SEE MORE</a></div>
                    </div>
                }
            </div>
        }
    }
</div>

@if (Model.recentVisitors != null)
{
    if (Model.recentVisitors.Count > 0)
    {
        <div class="container" style="padding-top:20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="mainH1">Recently Viewed</div>
                </div>
            </div>

            <div class="row">
                @for (int j = 0; j < Model.recentVisitors.Count; j++)
                {
                    if ((j % 4) == 0)
                    {
                        @(new HtmlString("</div><div class='row'>"))
                    }
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <a href="@Url.Action("ProfilebyId", "DashBoard", new { vprofilId = Model.recentVisitors[j].ViewedProfileId + "!WEProfInfo" })" class="boxGird">
                            <div class="GridImgHome">
                                @if (string.IsNullOrEmpty(Model.recentVisitors[j].DefaultPhotoUrl))
                                {<img src="../assets/img/profilePic.jpg" alt="img" class="Img-fit">}
                                else
                                {<img src="@Model.recentVisitors[j].DefaultPhotoUrl" alt="img" class="Img-fit">}
                            </div>
                            <div class="contGridHome">
                                <div class="H1GridHome">@Model.recentVisitors[j].ProfileName @Model.recentVisitors[j].ProfileLastName</div>
                                <div class="AHLgridHome">@Model.recentVisitors[j].Age Yrs, @Model.recentVisitors[j].Height, @Model.recentVisitors[j].MotherTongue</div>
                                <div class="cityGridHome">@Model.recentVisitors[j].City / @Model.recentVisitors[j].StateName</div>

                            </div>
                        </a>
                    </div>
                }
            </div>
            @*@if (Model.recentVisitors.Count >= 8)
                {
                    <div class="row">
                        <div class="col-md-12 text-center ptb-30"><a href="@Url.Action("RecentVisitors", "DashBoard", new { PageIndex = 1, From = 1 })" class="btn btn-common btn-sm">SEE MORE</a></div>
                    </div>
                }*@
        </div>
    }
}

@if (Model.whoViewedMe != null)
{
    if (Model.whoViewedMe.Count > 0)
    {
        <div class="container" style="padding-top:20px;">
            <div class="row">
                <div class="col-md-12">
                    <div class="mainH1">Who Viewed Me</div>
                </div>
            </div>

            <div class="row">
                @for (int k = 0; k < Model.whoViewedMe.Count; k++)
                {
                    if ((k % 4) == 0)
                    {
                        @(new HtmlString("</div><div class='row'>"))
                    }
                    <div class="col-md-3 col-xs-6 col-sm-6">
                        <a href="@Url.Action("ProfilebyId", "DashBoard", new { vprofilId = Model.whoViewedMe[k].ProfileId + "!WEProfInfo" })" class="boxGird">
                            <div class="GridImgHome">
                                @if (string.IsNullOrEmpty(Model.whoViewedMe[k].DefaultPhotoUrl))
                                {<img src="../assets/img/profilePic.jpg" alt="img" class="Img-fit">}
                                else
                                {<img src="@Model.whoViewedMe[k].DefaultPhotoUrl" alt="img" class="Img-fit">}
                            </div>
                            <div class="contGridHome">
                                <div class="H1GridHome">@Model.whoViewedMe[k].ProfileName @Model.whoViewedMe[k].ProfileLastName</div>
                                <div class="AHLgridHome">@Model.whoViewedMe[k].Age Yrs, @Model.whoViewedMe[k].Height, @Model.whoViewedMe[k].MotherTongue</div>
                                <div class="cityGridHome">@Model.whoViewedMe[k].City / @Model.whoViewedMe[k].StateName</div>

                            </div>
                        </a>
                    </div>
                }
            </div>
            @if (Model.whoViewedMe.Count >= 8)
            {
                <div class="row">
                    <div class="col-md-12 text-center ptb-30"><a href="@Url.Action("WhoViewedMe", "DashBoard")" class="btn btn-common btn-sm">SEE MORE</a></div>
                </div>
            }
        </div>
    }
}

<div id='myModal' class='modal fade' name="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div id='myModalContent' style=" background:url(../assets/img/popupHbg.jpg) repeat-x;"></div>
        </div>
    </div>

</div>

<style>
    .ReDot {
        color: #F00;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlRelationshipStatus").val("10");
        $("#ddlFoodPreference").val("360");
        $("#ddlEducation").val("415");
        $("#ddlLanguage").val("29");
        //$("#ddlJob :selected").val()
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtDOB').datepicker({
            dateFormat: "dd/mm/yy",
            changeMonth: true,
            changeYear: true,
            yearRange: "-60:-18"
        });
        $('#dropdownID').val("Value to be selected");
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#ddlLanguage").change(function () {
            var langId = $(this).val();
            $.ajax({
            url: "@Url.Action("GetCastebyLanguage", "DashBoard")",
                data: { LanguageId: langId},
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                $(".castestyle").html('');
                var optionhtml1 = '<option value="' +
                    0 + '">' + "Select Caste" + '</option>';
                $(".castestyle").append(optionhtml1);
                $.each(data, function (i) {
                    var optionhtml = '<option value="' + data[i].Value + '">' +data[i].Text + '</option>';
                    $(".castestyle").append(optionhtml);
                });
            }
            });
        });
        $("#ddlslanguage").change(function () {
            var langId = $(this).val();
            $.ajax({
            url: "@Url.Action("GetCastebyLanguage", "DashBoard")",
                data: { LanguageId: langId},
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                $("#ddlsCaste").html('');
                var optionhtml1 = '<option value="' +
                    0 + '">' + "Select Caste" + '</option>';
                $("#ddlsCaste").append(optionhtml1);
                $.each(data, function (i) {
                    var optionhtml = '<option value="' + data[i].Value + '">' +data[i].Text + '</option>';
                    $("#ddlsCaste").append(optionhtml);
                });
            }
            });
        });
        $("#ddlCountry").change(function () {
            var CountryId = $(this).val();
             $.ajax({
            url: "@Url.Action("States", "DashBoard")",
                 data: { CountryId: CountryId},
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                $("#ddlState").html('');
                var optionhtml1 = '<option value="' +
                    0 + '">' + "Select State" + '</option>';
                $("#ddlState").append(optionhtml1);
                $.each(data, function (i) {
                    var optionhtml = '<option value="' + data[i].Value + '">' +data[i].Text + '</option>';
                    $("#ddlState").append(optionhtml);
                });
            }
            });
        });
        //
        $("#ddlState").change(function () {
            var StateId = $(this).val();
            var CountryId = $("#ddlCountry option:selected").val();
             $.ajax({
            url: "@Url.Action("Cities", "DashBoard")",
                 data: { StateId: StateId},
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                $("#ddlCity").html('');
                var optionhtml1 = '<option value="' +
                    0 + '">' + "Select City" + '</option>';
                $("#ddlCity").append(optionhtml1);
                $.each(data, function (i) {
                    var optionhtml = '<option value="' + data[i].Value + '">' +data[i].Text + '</option>';
                    $("#ddlCity").append(optionhtml);
                });
            }
            });
        });
        $("#ddlJobCountry").change(function () {
            var jCountryId = $(this).val();
             $.ajax({
            url: "@Url.Action("States", "DashBoard")",
                 data: { CountryId: jCountryId},
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                $("#ddlJobState").html('');
                var optionhtml3 = '<option value="' +
                    0 + '">' + "Select State" + '</option>';
                $("#ddlJobState").append(optionhtml3);
                $.each(data, function (i) {
                    var optionhtm3 = '<option value="' + data[i].Value + '">' +data[i].Text + '</option>';
                    $("#ddlJobState").append(optionhtm3);
                });
            }
            });
        });
        //
        $("#ddlJobState").change(function () {
            var jStateId = $(this).val();
           $.ajax({
            url: "@Url.Action("Cities", "DashBoard")",
                 data: { StateId: jStateId},
            dataType: "json",
            type: "GET",
            error: function () {
                alert(" An error occurred.");
            },
            success: function (data) {
                $("#ddlJobCity").html('');
                var optionhtml2 = '<option value="' +
                    0 + '">' + "Select City" + '</option>';
                $("#ddlJobCity").append(optionhtml2);
                $.each(data, function (i) {
                    var optionhtml6 = '<option value="' + data[i].Value + '">' +data[i].Text + '</option>';
                    $("#ddlJobCity").append(optionhtml6);
                });
            }
            });
        });

    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnfSubmit').click(function () {
            $('#RegisterPopup').validate({
                rules: {

                    'PersonalDetails.ProfileName': {
                        required: true
                    },

                    'PersonalDetails.ProfileLastName': {
                        required: true
                    },
                    'PersonalDetails.DateofBirth': {
                        required: true
                    },
                    'PersonalDetails.Mobile': {
                        required: true
                    },

                    'AboutMySelf.Language': {
                        required: true
                    },
                    fileupload: {
                        required: true
                    },


                    'AboutMySelf.Job': {
                        required: true
                    },
                    'AboutMySelf.RelationshipStatus': {
                        required: true
                    },
                    'AboutMySelf.Language': {
                        required: true
                    },
                    'PersonalDetails.Country': {
                        required: true
                    },
                    'PersonalDetails.State': {
                        required: true
                    },

                    'PersonalDetails.JobCountry': {
                        required: true
                    },
                    'PersonalDetails.JobState': {
                        required: true
                    }

                },
                messages: {

                    'PersonalDetails.ProfileName': {
                        required: "Enter your First Name "
                    },
                    'PersonalDetails.ProfileLastName': {
                        required: "Enter your Last Name "
                    },
                    'PersonalDetails.DateofBirth': {
                        required: "Enter your DateofBirth"
                    },
                    'PersonalDetails.Mobile': {
                        required: "Enter your Mobile Number"
                    },

                    'AboutMySelf.Language': {
                        required: "Select your Language "
                    },
                    fileupload: {
                        required: "Upload your Profile Photo "
                    },


                    'AboutMySelf.Job': {
                        required: "Select your Profession"
                    },
                    'AboutMySelf.RelationshipStatus': {
                        required: "Select your Relationship Status "
                    },
                    'AboutMySelf.Language': {
                        required: "Select your Known Language"
                    },
                    'PersonalDetails.Country': {
                        required: "Select Home Country "
                    },
                    'PersonalDetails.State': {
                        required: "Select Home State "
                    },

                    'PersonalDetails.JobCountry': {
                        required: "Select your Job Country "
                    },
                    'PersonalDetails.JobState': {
                        required: "Select your Job State"
                    }


                },
                submitHandler: function (form) {
                    var ProfileName = $("#txtProfileName").val();
                    var ProfileId = $("#hdnProfileId").val();
                    var ProfileLastName = $("#txtProfileLastName").val();
                    var DateofBirth = $("#txtDOB").val();
                    var Mobile = $("#phone").val();
                   // var Countrycode = $("#phone").intlTelInput("getSelectedCountryData").name;
                    var Countrycode = null;
                    var RelationshipStatus = $("#ddlRelationshipStatus :selected").val();
                    var Job = $("#ddlJob :selected").val();
                    var Religion = $("#ddlReligion :selected").val();
                    var Language = $("#ddlLanguage :selected").val();
                    var Caste = $("#ddlCaste :selected").val();
                    var FoodPreference = $("#ddlFoodPreference :selected").val();
                    var Height = $("#ddlHeight :selected").val();
                    var Education = $("#ddlEducation :selected").val();
                    var Country = $("#ddlCountry :selected").val();
                    var State = $("#ddlState :selected").val();
                    var City = $("#ddlCity :selected").val();
                    var Zipcode = $("#txtZipcode").val();
                    var IsSameasAbove = $("#chkjob").is(':checked')
                    var JobCountry = $("#ddlJobCountry :selected").val();
                    var JobState = $("#ddlJobState :selected").val();
                    var JobCity = $("#ddlJobCity :selected").val();
                    var JobZipcode = $("#txtJobZipcode").val();
                    var Introduction = $("#Introduction").val();
                    var Email = $("#txtEmailid").val();
                    var RelationDetail = $("#txtRelationshipDetails").val();
                    var JonDetails = $("#txtJobDetails").val();
                    var EduDetails = $("#txtEducationDetails").val();
                    $.ajax({
                        url: "@Url.Action("SaveProfile", "Home")",
                        contentType: "application/json; charset=utf-8",
                        dataType: "html",
                        data: { ProfileName: ProfileName, ProfileId: ProfileId, ProfileLastName: ProfileLastName, DateofBirth: DateofBirth, Mobile: Mobile, Countrycode: Countrycode, RelationshipStatus: RelationshipStatus, Job: Job, Religion: Religion, Language: Language, Caste: Caste, FoodPreference: FoodPreference, Height: Height, Education: Education, Country: Country, State: State, City: City, Zipcode: Zipcode, IsSameasAbove: IsSameasAbove, JobCountry: JobCountry, JobState: JobState, JobCity: JobCity, JobZipcode: JobZipcode, Introduction: Introduction, Email: Email, RelationshipDetails: RelationDetail, JobDetails: JonDetails, EducationDetails: EduDetails },  // data to submit
                        success: function (data, status, xhr) {
                            if (data == "failure") {
                                swal({
                                    icon: "warning",
                                    text: "Given Email is already Registered with us",
                                    type: "success",
                                    buttons: false
                                });
                                window.setTimeout(function () { window.location = "../Home/Index"; }, 3000);
                            }
                            else {
                                swal({
                                    icon: "success",
                                    text: "Profile Updated successfully...!",
                                    type: "success",
                                    buttons: false
                                });
                                location.reload(true);
                            }
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                            swal({
                                icon: "warning",
                                text: "Something Could be wrong",
                                type: "success",
                                buttons: false
                            });
                            window.setTimeout(function () { window.location = "../Home/Index"; }, 3000);
                        }
                    });
                }

            });
        });
    });
</script>

<script>
    $("#fileupload").on("change", function () {
        var fileUpload = $("#fileupload").get(0);
        var files = fileUpload.files;
        // Create FormData object
        var fileData = new FormData();
        // Looping over all files and add it to FormData object
        var ProfileId = $("#hdnProfileId").val();

        fileData.append("ProfileId", ProfileId);
        for (var i = 0; i < files.length; i++) {
            fileData.append(files[i].name, files[i]);
        }
        if (!(/\.(gif|jpg|jpeg|png)$/i).test(files[0].name)) {
            swal({
                icon: "warning",
                text: "gif, jpg, jpeg, png image file only..!",
                type: "warning"
            });
        }
        else {
            $.ajax({
                url: '/Home/UploadFiles',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {
                    swal({
                        icon: "success",
                        text: "Photo Uploaded Successfully..!",
                        type: "success",
                        timer: 3000
                    });
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }
    });

</script>
<script>
    $(document).ready(function () {
        $('#chkjob').click(function () {
            if ($(this).prop("checked") == true) {
                var hCountry, hState, hCity, hZipcode;
                hCountry = $("#ddlCountry option:selected").val();
                hState = $("#ddlState option:selected").val();
                hCity = $("#ddlCity option:selected").val();
                hZipcode = $("#txtZipcode").val();
                $("#ddlJobCountry").val(hCountry);
                $.ajax({
                    url: "@Url.Action("States", "DashBoard")",
                    data: { CountryId: hCountry },
                    dataType: "json",
                    type: "GET",
                    error: function () {
                        alert(" An error occurred.");
                    },
                    success: function (data) {
                        $("#ddlJobState").html('');
                        var optionhtml7 = '<option value="' +
                            0 + '">' + "Select State" + '</option>';
                        $("#ddlJobState").append(optionhtml7);
                        $.each(data, function (i) {
                            var optionhtm8 = '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                            $("#ddlJobState").append(optionhtm8);
                        });
                        $("#ddlJobState").val(hState);
                    }
                });

                $.ajax({
                    url: "@Url.Action("Cities", "DashBoard")",
                    data: { StateId: hState },
                    dataType: "json",
                    type: "GET",
                    error: function () {
                        alert(" An error occurred.");
                    },
                    success: function (data) {
                        $("#ddlJobCity").html('');
                        var optionhtml9 = '<option value="' +
                            0 + '">' + "Select City" + '</option>';
                        $("#ddlJobCity").append(optionhtml9);
                        $.each(data, function (i) {
                            var optionhtml10 = '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                            $("#ddlJobCity").append(optionhtml10);
                        });
                        $("#ddlJobCity").val(hCity);
                    }
                });
                $("#txtJobZipcode").val(hZipcode);
            }
            else {
                $("#ddlJobCountry").val('');
                $("#ddlJobState").val('');
                $("#ddlJobCity").val('');
                $("#txtJobZipcode").val('');
            }
        });
    });
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.8/css/intlTelInput.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.8/js/intlTelInput-jquery.min.js"></script>

<script type="text/javascript">
    $(function () {
        var code = "+91123456789"; // Assigning value from model.
        $('#phone').val(code);
        $('#phone').intlTelInput({
            autoHideDialCode: true,
            autoPlaceholder: "ON",
            dropdownContainer: document.body,
            formatOnDisplay: true,
            hiddenInput: "full_number",
            initialCountry: "auto",
            nationalMode: true,
            placeholderNumberType: "MOBILE",
            preferredCountries: ['US'],
            separateDialCode: true
        });
    });
</script>
