@model WEvaha.Models.DashboardProfileModel
@{
    ViewBag.Title = "ProfilebyId";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<style type="text/css">

    a,
    a:hover {
        border: none;
        text-decoration: none;
    }

        img,
        a img {
            border: none;
        }

    pre {
        overflow-x: scroll;
        background: #ffffff;
        border: 1px solid #cecece;
        padding: 10px;
    }

    .clear {
        clear: both;
    }

    .zoomed > .container {
        -webkit-filter: blur(3px);
        filter: blur(3px);
    }


    .gallery {
        float: left;
        background: #ffffff;
        padding: 20px 20px 10px 20px;
        margin: 0;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

        .gallery div {
            float: left;
            padding: 0 10px 10px 0;
        }

            .gallery div:nth-child(6n) {
                padding-right: 0;
            }

        .gallery a,
        .gallery img {
            float: left;
        }
</style>
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:linear-gradient(90deg, #FF99CC 0%, #33CCFF 100%); ">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:18px;">Like this Profile</h5>
            </div>
            <div class="modal-body">
                <!--mobile number visible-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="popupImg">
                            <img src="../assets/img/profileImg/f-10.jpg" alt="profile pic">
                        </div>
                    </div>
                    <div class="col-md-9" style=" padding-top:30px;">
                        <span style="font-size:16px; color:#C40627; font-weight:600;">Contact Number : <span style="color:#333; font-size:18px;">99856 77775</span></span>
                    </div>
                </div>
                <!--mobile number visible-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="popupImg">
                            <img src="../assets/img/profileImg/f-10.jpg" alt="profile pic">
                        </div>
                    </div>
                    <div class="col-md-9" style=" text-align:center; padding-top:30px;">
                        <span style="font-size:18px; color:#333;">
                            Only Premium Members can Connect with<br>
                            'Just Joined' Matches
                        </span>
                    </div>
                </div>
            </div>
            <div class="modal-footer text-center">
                <a href="upgrade.html" style="background:#E00150; color:#fff; border-radius:10px; padding:10px 15px; font-size:16px; font-weight:500;" onclick="ShowAndHide()">UPGRADE NOW</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style="position:relative; padding:0px;">



            <div class="profPos">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                            <div class="profDiv">
                                @*<div class="profImgPos">
                                    <div class="profImgDiv"><a href="" class="profImgLink"><i class="fa fa-camera" aria-hidden="true"></i></a></div>
                                </div>*@
                                @if(Model.userprofilePic.UserProfilePicUrl != null)
                                {
                                    <img src="@Model.userprofilePic.UserProfilePicUrl" alt="profile pic">
                                }
                                else
                                {
                                    <img src="../assets/img/profilePic.jpg" alt="profile pic">
                                }
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12 col-xs-12 profName">
                            <div style="font-size:24px; font-weight:bold; color:#c12f5b;">@Model.PersonalDetails.ProfileName</div>
                            <div style="font-size:17px; font-weight:bold; color:#3f3e3e; margin-top:5px;">Profile ID : WV00 @Model.PersonalDetails.ProfileId</div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 profIcon">
                            <div style="margin-top:20px;">
                                <span style="font-size:16px; color:#666; font-weight:600;"> Like this Profile?</span> <a href="" data-toggle="modal" data-target="#basicExampleModal"><img src="../assets/img/connect.png" alt="connect"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*<div class="covImgPos">
                <div class="covImgDiv"><a href="" class="covImfLink"><i class="fa fa-camera" aria-hidden="true"></i> &nbsp;Edit Cover Photo</a></div>
            </div>*@
            @if (Model.userprofilePic.UserProfilePicUrl != null)
            {
                <img src="@Model.coverPhoto.CoverPhotoURL" alt="img" class="coverPhotoImg">
            }
            else
            {
                <img src="../assets/img/coverPic.jpg" alt="img">
            }
        </div>
    </div>
</div>


<div class="container" style="padding-top:150px;">
    <div class="row">
        <div class="col-md-12">
            <div class="mainH1">My Photos</div>
        </div>
    </div>

    <div class="row">
        @if (Model.profilePhotos != null)
        {
            if (Model.profilePhotos.Count > 0)
            {
                for (int i = 0; i < Model.profilePhotos.Count; i++)
                {
                    <div class="col-md-1 col-xs-3 col-sm-3" style="padding:0px;"><img src="@Model.profilePhotos[i].ThumbnailUrl" alt="1" class="myPhoto-fit"></div>

                }
            }
        }
    </div>
</div>

<div class="container ptb-50">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#myProfile"><i class="fa fa-user" aria-hidden="true"></i> About Myself</a></li>
        <li><a data-toggle="tab" href="#abtme"><i class="fa fa-address-card" aria-hidden="true"></i> FactFile</a></li>

    </ul>

    <div class="tab-content" style="padding:30px; border-top:#f06056 2px solid; border-bottom:#098a94 3px solid;">
        <div id="myProfile" class="tab-pane fade in active">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-offset-2">
                        <form>


                            <br>
                            <label style="font-size:16px; color:#098a94;">About</label>
                            @Html.TextAreaFor(model => model.AboutMySelf.IntroductionAboutMyself, new { @class = "form-control", placeholder = "Intro Quote", rows = "3" })
                            <label style="font-size:16px; color:#098a94;">Who Am I</label>
                            @Html.TextAreaFor(model => model.WhoAmI.ThankkfulFor, new { @class = "form-control", placeholder = "I’m thankful for", rows = "2" })
                            @Html.TextAreaFor(model => model.WhoAmI.LifeSkills, new { @class = "form-control", placeholder = "Best Life Skills", rows = "2" })
                            @Html.TextAreaFor(model => model.WhoAmI.ThingsCantLiveWithout, new { @class = "form-control", placeholder = "Things I Can’t Live Without", rows = "2" })
                            @Html.TextAreaFor(model => model.WhoAmI.FriendsDescribedAs, new { @class = "form-control", placeholder = "My friends described me as", rows = "2" })
                            
                            <label style="font-size:16px; color:#098a94;">Hobbies</label>
                            <div class="form-group">
                                <div class="col-md-12" style="padding-left:0px;">
                                    @Html.TextAreaFor(model => model.Hobbies.CarsAndDriving, new { @class = "form-control", placeholder = "I Like cars and Driving", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.SpendFreeTime, new { @class = "form-control", placeholder = "I spend my Free time", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.SportsILike, new { @class = "form-control", placeholder = "Sports I like", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.InstrumentsIPlay, new { @class = "form-control", placeholder = "Instruments I can play", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Music, new { @class = "form-control", placeholder = "Music", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Vacations, new { @class = "form-control", placeholder = "Vacations", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Favorite, new { @class = "form-control", placeholder = "Favorite", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.TVShows, new { @class = "form-control", placeholder = "TV shows", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Movies, new { @class = "form-control", placeholder = "Movies", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Books, new { @class = "form-control", placeholder = "Favorite books", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Travel, new { @class = "form-control", placeholder = "Travel", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Excercising, new { @class = "form-control", placeholder = "Exercising", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Hiking, new { @class = "form-control", placeholder = "Hiking", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Driving, new { @class = "form-control", placeholder = "Driving", rows = "2" })
                                    @Html.TextAreaFor(model => model.Hobbies.Beaches, new { @class = "form-control", placeholder = "Beaches", rows = "2" })
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>


        <div id="abtme" class="tab-pane fade">

            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-xs-offset-2">
                        <form>

                            <div class="form-group">
                                <div class="col-md-6" style="padding-left:0px;">
                                    @Html.TextBoxFor(model => model.AboutMySelf.dHeight, new { @class = "form-control", placeholder = "Height" })
                                </div>

                                <div class="col-md-6" style="padding:0px;">
                                    @Html.TextBoxFor(model => model.AboutMySelf.dRelationshipStatus, new { @class = "form-control", placeholder = "Relation Status" })
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-6" style="padding-left:0px;">
                                    @Html.TextBoxFor(model => model.AboutMySelf.dKids, new { @class = "form-control", placeholder = "Kids" })
                                </div>

                                <div class="col-md-6" style="padding:0px;">
                                    @Html.TextBoxFor(model => model.AboutMySelf.dPets, new { @class = "form-control", placeholder = "Pets" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(model => model.AboutMySelf.dEducation, new { @class = "form-control", placeholder = "Education" })
                            </div>
                            <div class="form-group">
                                <div class="col-md-6" style="padding-left:0px;">
                                    @Html.TextBoxFor(model => model.AboutMySelf.dSmoke, new { @class = "form-control", placeholder = "Do you Smoke?" })
                                </div>

                                <div class="col-md-6" style="padding:0px;">
                                    @Html.TextBoxFor(model => model.AboutMySelf.dDrink, new { @class = "form-control", placeholder = "How Often Do you Drink?" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6" style="padding-left:0px;">
                                    @Html.TextBoxFor(model => model.AboutMySelf.dEthnicity, new { @class = "form-control", placeholder = "Ethnicity" })
                                </div>
                            </div>

                            <div class="col-md-6" style="padding:0px;">
                                @Html.TextBoxFor(model => model.AboutMySelf.dReligion, new { @class = "form-control", placeholder = "Religion" })
                            </div>




                        </form>
                    </div>
                    </div>
                </div>
            </div>

        </div>





    </div>
</div>

