<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <link rel="canonical" href="https://wevaha.com/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="type" content="website">
    <meta name="author" content="WEvaha">
    <meta name="url" content="https://www.wevaha.com/">

    <title>WEvaha.com – Indian Dating Site and Indian Matrimony Site </title>
    <meta name="description" content="WEvaha A Premier Dating Platform for Indian Singles! Backed by a Large Team with Decades of Understanding and Service in Dating Industry." />
    @*<meta name="keywords" content="indian dating, indian dating sites, free indian dating app, indian dating sites free chat, indian dating hub, indian dating app free, free indian dating sites, indian dating site, indian free dating app, indian dating apps" />*@
    <meta name="keywords" content="indian dating, indian dating sites, free indian dating app, indian dating sites free chat, indian dating hub, indian dating app free, free indian dating sites, indian dating site, indian free dating app, indian dating apps, indian married woman dating, indian free dating site, indian singles dating site, top indian dating sites, indian singles dating, indian dating app, indian divorced woman dating, dating indian, indian dating sites free chat online, best indian dating apps, indian women dating, best indian dating app, dating apps for married indian, top indian dating apps, best indian dating site, free indian dating apps, indian online dating sites, online indian dating sites, free online indian dating websites, indian divorced dating sites, indian dating free, indian free dating apps, indian dating websites, indian dating sites list, indian adult dating sites, indian dating sites for married, indian online dating app, indian online dating site, indian dating girls, indian top dating sites, indian dating girl, indian girls dating app, top 10 indian dating sites, indian dating chat rooms, dating indian men, indian dating sites usa, indian singles dating site reviews, indian dating sites in usa, indian dating chat, indian christian matrimony, indian matrimony, indian divorcee matrimony, south indian matrimony, best indian matrimony sites, best indian matrimony site, indian matrimony com, south indian matrimony sites, indian matrimony logo, indian matrimony website, free indian matrimony sites, free indian matrimony, indian nri matrimony, usa matrimony for indian, australia indian matrimony, indian matrimony in australia, indian matrimony sites list, indian matrimony sites, indian matrimony websites, local indian matrimony, matrimony indian sites, indian matrimony in usa, christian indian matrimony, indian girls matrimony, indian divorced matrimony, top indian matrimony sites, usa indian matrimony, indian matrimony site, indian matrimony nri, indian divorcee matrimony usa, free indian matrimony site, malaysian indian matrimony, best south indian matrimony, us indian matrimony, free online indian matrimony, indian brides matrimony, indian matrimony sites in usa, indian free matrimony sites, christian matrimony indian sites, south indian brides matrimony, indian matrimony Australia, indian dating site, indian free dating site, indian singles dating site, best indian dating site, indian adult dating site, indian dating site free no cost, indian free dating site without payment, indian free dating site totally free, indian online dating site, free indian dating site in india without payment, indian singles dating site reviews, indian dating site in usa, dating site for indian in usa, indian girl dating site, free indian online dating site, indian girls dating site, free indian chat and dating site, online indian dating site, top indian dating site, indian teen dating site, indian best dating site, free indian dating site, indian women dating site, indian dating site reviews, dating site indian, online indian dating site free, best free indian dating site, indian dating site free online, indian widow dating site, indian dating site for married, indian dating site for free, best indian site for dating, best indian dating site free, dating site for married indian, indian dating site free, best indian dating site for free, best indian adult dating site, best indian free dating site, indian doctors dating site, indian married woman dating site, indian dating site safe, indian top free dating site, online dating and friendship indian site, free dating site for indian, online dating site indian, most famous indian dating site, indian top dating site, best indian dating site quora, indian marriage dating site, indian online free dating site, indian dating site online, free dating indian site, top 10 indian dating site, free indian adult dating site, indian real dating site, best dating indian site, which is the best indian dating site, adult dating site indian, indian free adult dating site, which is best indian dating site,  best indian matrimonial site, indian matrimonial site, indian free matrimonial site, best indian christian matrimonial site, indian best matrimonial site, free website templates for indian matrimonial site, best matrimonial indian site, which is the best indian matrimonial site, indian dating, indian dating sites, indian dating apps in usa, indian dating sites usa, indian dating sites in usa, indian dating app, indian dating girl, indian dating women, indian women dating, indian dating site, indian dating apps, indian dating usa, indian dating apps usa, indian american dating, indian dating website, dating apps for indian in usa, indian dating app usa, dating indian, indian dating sites free chat, best dating apps for indian in usa, dating apps Indian, free indian dating app, indian women for dating, free indian dating sites, american indian dating app, dating indian woman, best indian dating sites usa, indian dating app in america, indian women dating sites, best dating sites for indian in usa, free indian dating, best indian dating sites in usa, indian single woman dating, south indian dating app, best dating app for indian in usa, dating for indian singles, indian dating in usa, indian dating reddit, indian single dating, indian american dating site, best indian dating sites, indian dating websites usa, free indian dating sites in usa, indian dating websites in usa, indian dating site in usa, us indian dating sites, indian dating free, dating indian girl in usa, indian girls dating site, dating app for indian in usa, divorced indian dating usa, indian culture dating and marriage, best indian dating apps, best free indian dating sites, indian free dating site, top indian dating apps, indian matrimony usa, indian matrimony, indian christian matrimony, best indian matrimony sites in usa, indian matrimony sites, top indian matrimony sites, us indian matrimony, indian matrimony in usa, usa indian matrimony, usa matrimony for indian, best indian matrimony sites, indian matrimony websites, indian matrimony sites in usa, indian matrimony australia, best indian matrimony, indian nri matrimony, free indian matrimony, indian matrimony brides, indian matrimony com, indian matrimony for divorcee, indian matrimony website, indian muslim matrimony, indian divorcee matrimony usa, indian matrimony dallas, indian matrimony matchmaking sites, indian matrimony app, south indian christian matrimony, matrimony indian sites, best sites for indian matrimony in usa, indian matrimony site in usa, best indian matrimony in usa, indian matrimony for us, indian muslim matrimony in usa, top 5 matrimony sites for indian usa residents, indian tamil matrimony sites in usa, best indian matrimony website, matrimony for indian in usa, indian matrimony website in us, matrimony website in usa for Indian, indian divorcee matrimony, catholic matrimony indian in usa, indian matrimony ads, best websites for indian matrimony, best usa indian matrimony site, indian matrimony site, indian matrimony sites usa, best indian matrimony sites for usa, american indian matrimony, best sites for matrimony for indian matches, indian dating site, indian american dating site, indian dating site in usa, indian girls dating site, indian dating site for married, indian singles dating site, indian free dating site, indian men dating site, indian girl dating site, indian dating site usa, best indian dating site, dating site for indian in usa, indian best dating site, best indian dating site in usa, best indian online dating site, indian online dating site, free indian singles dating site, free indian dating site without payment, dating free indian site, indian teen dating site, usa dating site with indian, indian dating site free chat, online indian dating site, indian dating girl site, indian dating site in us, indian dating site free, absolutely free indian dating site, indian free dating site totally free, dating site indian girls, indian desi dating site, indian us dating site, indian dating site in us reddit, indian 100 free online dating site,  best site for indian dating, dating site to meet indian men, indian guys dating site, best indian dating site in america, dating site for indian, indian online dating site for singles, free indian dating site, indian dating site mariage, indian dating site chicago, dating site for indian women, quora best indian dating site, free indian women dating site, no 1 dating site for indian, top 10 indian dating site in usa, indian dating site quora, indian dating site dil, best site for indian dating in the us, indian divorce dating site, best site for dating indian women in us, indian matrimonial dating site, dating site indian, indian dating site free no cost, top indian dating site, indian matrimonial site , which indian matrimonial site is best, australian indian matrimonial site, best indian matrimonial site for nri, indian matrimonial web site, best rated indian matrimonial site for nri, best site for indian matrimonial for groom website in usa, best indian nri matrimonial site, best indian matrimonial site, best site for indian matrimonial indian website, matrimonial site in usa for divorce indian, best site for indian matrimonial indian website in usa, best site for indian matrimonial, which is the best indian matrimonial site north india, best matrimonial site fo indian seniors, which matrimonial site is best for indian nri, us indian american matrimonial site, matrimonial site in usa for indian, matrimonial site for indian brides, indian matrimonial dating site, indian matrimonial site, online matrimonial site for us indian, indian matrimonial site in usa, which is the best indian matrimonial site, best matrimonial site to find indian in usa, best matrimonial site in usa for indian boys, indian matrimonial site usa, best site for indian matrimonial for groom website in usa, matrimonial site in usa for divorce indian, best site for indian matrimonial indian website in usa, matrimonial site in usa for indian, indian matrimonial site in usa, best matrimonial site to find indian in usa, best matrimonial site in usa for indian boys, vivah, vivaaha , wevaha, vevaaha, vevaha" />
    <meta name="abstract" content="WEvaha is an Indian Dating and Matrimonial Platform Designed with Industry’s best AI Infused Algorithms to Present users the Best-Compatible-Matches." />
    <meta name="copyright" content="Wevaha.com" />
    <meta name="google-site-verification" content="kEMxaiL1OvmeS0MB_1lvv0y5URT7WvD1mxX6-mHYAQo" />
    <meta name="msvalidate.01" content="DEE2D10E6EA826CF92FE9EED1F0F26ED" />
    <!-- ========== Favicon Icon ========== -->
    <link rel="og:shortcut icon" href="../img/favicon.ico" type="image/x-icon" />
    <link rel="og:icon" href="../img/favicon.ico" type="image/x-icon" />
    <meta name="og:viewport" content="width=device-width" />
    <meta name="og:distribution" content="web">
    <META NAME="og:ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="og:distribution" content="global" />
    <meta name="og:revisit-after" content="1 Day" />
    <meta name="og:googlebot" content="all" />
    <meta name="og:geo.placename" content="india" />
    <meta name="og:country-code" content="india" />
    <meta http-equiv="og:X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="og:pragma" content="no-cache">
    <meta http-equiv="og:expires" content="never">
    <meta name="og:rating" content="general">
    <meta name="og:viewport" content="width=device-width, initial-scale=1">
    <meta name="og:apple-mobile-web-app-capable" content="YES">
    <meta http-equiv="og:X-UA-Compatible" content="IE=edge">
    <meta name="og:HandheldFriendly " content="True " />
    <meta name="og:identifier-url" content="https://www.wevaha.com/" />
    <meta name="og:MobileOptimized " content="320 " />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="TeamWevaha">
    <meta name="twitter:title" content="WEvaha">
    <meta name="twitter:description" content="WEvaha is the best Indian Dating Site and the Best Indian Matrimonial Site. We have the largest catalogue of Indian singles looking for a suitable partner.">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1465993945788284929/-cWpY0zq_400x400.jpg">

    <meta property="og:title" content="Indian Dating and Indian Matrimony Site">
    <meta property="og:site_name" content="WEvaha">
    <meta property="og:url" content="https://www.wevaha.com/">
    <meta property="og:description" content="WEvaha A Premier Dating Platform for Indian Singles! Backed by a Large Team with Decades of Understanding and Service in Dating Industry">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.wevaha.com/img/logo.png">


    <meta name="ahrefs-site-verification" content="76a45394536aaabba0e7849c76fe74bb7f75fa31b8e75d9194547a2cd516badb">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/flaticon.css" />
    <link rel="stylesheet" href="../css/themify-icons.css" />
    <link rel="stylesheet" href="../vendors/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="../vendors/nice-select/css/nice-select.css" />
    <!-- main css -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/myQuery.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="../css/jqueryValidate.css" />
    <link href="../build/css/intlTelInput.css" rel="stylesheet" />

    @*<script type="text/javascript">
            $(document).bind("contextmenu", function (e) {
                return false;
            });
        </script>*@


    <style>

        data {
            margin: 0 auto;
            position: relative;
            text-align: center;
            z-index: 1;
        }

            data h2 {
                font-weight: normal;
                font-size: 45px;
                margin: 0;
                color: #FFF;
                text-shadow: 2px 2px 2px #333333;
                text-align: center;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -o-user-select: none;
                user-select: none;
            }



            data span {
                display: block;
            }

                data span strong {
                    font-weight: 600;
                }

        #axis-z {
            width: 90px;
        }

        #sliding {
            display: inline-block;
            border: 3px solid #5F5F5F;
            border-radius: 10px;
            padding: 10px 20px 10px 20px;
            width: 120px;
            overflow: hidden;
            width: 300px;
            color: #5F5F5F;
            vertical-align: middle;
        }

        #arrow-next {
            display: inline-block;
            vertical-align: middle;
            margin: 0 0 0 20px;
            width: 0;
            height: 0;
            border-top: 24px solid transparent;
            border-bottom: 24px solid transparent;
            border-left: 24px solid #5F5F5F;
        }

        .error {
            color: #929f99;
        }
    </style>

    <style>



        #myVideo {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            background-size: cover;
            background-position: top;
        }

        .content {
            position: fixed;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 20px;
        }

        #myBtn {
            width: 200px;
            font-size: 18px;
            padding: 10px;
            border: none;
            background: #000;
            color: #fff;
            cursor: pointer;
        }

            #myBtn:hover {
                background: #ddd;
                color: black;
            }

        .hidden {
            display: none;
        }
    </style>

    @*<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J2FLNWEH1F"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-J2FLNWEH1F');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-207918536-1">
    </script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-207918536-1');
    </script>*@




</head>
<body>
    <!--================ Start Header Menu Area =================-->

    <div class="search_input" id="search_input_box">
        <div class="container">

            <div style="float:left;">
                <div class="topBgTxt">
                    <h4 style="color:#fff;">Welcome to WEvaha.com - A Trusted Dating Site for Indian Singles</h4>
                </div>
            </div>

            <div style="float:right;">
                <form class="d-flex" method="" action="" name="LoginForm" id="LoginForm">
                    <div class="form-group" style="margin-right: 10px; margin-bottom: 0px; text-align:left;">
                        <input type="text" class="form-control" id="Email" name="Email" placeholder="Your Email" />
                    </div>
                    <div class="form-group" style="margin-right:10px; margin-bottom:0px; text-align:left;">
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Your Password" />
                    </div>

                    <button id="btnLogin" name="btnLogin" type="submit" value="submit" style="background: url(../img/power_icon.png) no-repeat; padding:25px; border:none; cursor:pointer;"></button>


                </form>
                <div style="text-align:left;"><a href="@Url.Action("ForgotPassword","Home")" style="font-size:13px; color:#fff;">Forgot Password</a></div>
            </div>

        </div>
    </div>


    <header class="header_area">
        <div class="main_menu">

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="@Url.Action("Index","Home")">
                        <img src="../img/logo.png" alt="wevaha" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span><span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index","Home")">Register</a>
                            </li>
                            @*<li class="nav-item">
                                <a class="nav-link" href="#">Tour</a>
                            </li>*@


                            <li class="nav-item">
                                <a href="#" class="nav-link search" id="search">
                                    <span class="menuLogin">
                                        Login &nbsp;

                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                        <i class="hidden fa fa-angle-up" aria-hidden="true"></i>


                                    </span>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->
    @RenderBody()
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 single-footer-widget">
                    <h4>Need Help?</h4>
                    <ul>

                        <li><a href="@Url.Action("Index", "Home")">Sign Up</a></li>
                        <li><a href="@Url.Action("FAQ", "Home")">FAQ's</a></li>
                        <li><a href="@Url.Action("Guidelines", "Home")">Guidelines</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 single-footer-widget">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
                        <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
                        <li><a href="@Url.Action("SafetyTips", "Home")">Safety Tips</a></li>

                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 single-footer-widget">
                    <h4>Privacy & You</h4>
                    <ul>
                        <li><a href="@Url.Action("TermsofUse", "Home")">Terms of Use</a></li>
                        <li><a href="@Url.Action("PrivacyPolicy", "Home")">Privacy Policy</a></li>
                        <li><a href="@Url.Action("ReportAbuse", "Home")">Report Misuse</a></li>
                    </ul>
                </div>


            </div>
            <div class="row footer-bottom d-flex justify-content-between">
                <p class="col-lg-6 col-sm-12 footer-text m-0 text-white">
                    © All rights reserved - <a href="https://wevaha.com" target="_blank">www.WEvaha.com</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>


                <div class="col-lg-6 col-sm-12 bottom-social-icons">
                    <a class="facebook" target="_blank" href="https://www.facebook.com/DatingSiteForIndianSingles"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" target="_blank" href="https://twitter.com/TeamWevaha"><i class="fa fa-twitter"></i></a>
                    <a class="linkedin" target="_blank" href="https://www.instagram.com/wevaha/"><i class="fa fa-instagram"></i></a>
                </div>

            </div>
        </div>

    </footer>

   
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>

    <script src="../js/theme.js"></script>
    <script src="../vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="../js/owl-carousel-thumb.min.js"></script>
    <script src="../js/jquery.ajaxchimp.min.js"></script>
    <script src="../js/mail-script.js"></script>

    <script src="../Scripts/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtDOB').datepicker({
                dateFormat: "dd/mm/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:-18"
            });

        });
    </script>


    <script>
        $('#search').on("click", function () {
            var $arrows = $(this).find("i");

            $arrows.toggle();
            ;
        });
    </script>
    <!--gmaps Js-->

    <script type="text/javascript">
    $(document).ready(function () {
    $("#btnLogin").click(function () {
                var email,password;
                Email=$("#Email").val();
                Password = $("#Password").val();
                $('#LoginForm').validate({ // initialize the plugin
                    rules: {
                        Email: {
                            required: true,
                            email: true
                        },
                        Password: {
                            required: true,
                            minlength: 6
                        }
                    },
                    messages: {
                        Email: {
                            required: "Enter Email",
                            email: "Please Enter Valid Email"
                        },
                        Password: {
                            required: "Enter password",
                            minlength: "Password must be at least 6 characters long"
                        }
                    },
                    submitHandler: function (form) { // for demo
                $.ajax({
                type: 'POST',
                url: "@(Url.Action("LogIn", "Home"))",
                           data: { Usename: Email, Password: Password },
                    success: function (data) {
                                if (data == 5 || data == 1)
                                {
                                    window.location = "../DashBoard/DashBoard"
                                 }

                               else if (data == 2)
                               {
                                   swal({
                                       icon: "warning",
                                       text: "you’ve Requested for Forgot password, Please activate your account.",
                                       timer: 1000,
                                       buttons: false
                                   });
                                   location.reload(true);
                               }
                               else if (data == 3) {
                                   swal({
                                       icon: "warning",
                                       text: "you’ve registered, but your account has not been activated. Please activate your account.",
                                       timer: 1000,
                                       buttons: false
                                   });
                                   $("#Email").val('');
                                   $("#Password").val('');
                               }
                               else if (data == 4) {
                                   swal({
                                       icon: "warning",
                                       text: "Invalid Username or Password ..!",
                                       timer: 1000,
                                       buttons: false
                                   });
                                   $("#Email").val('');
                                   $("#Password").val('');
                               }
                               else {
                                   swal({
                                       icon: "warning",
                                       text: "Something could be Wrong.",
                                       timer: 1000,
                                       buttons: false
                                   });
                                   location.reload(true);
                               }

                },
                error: function () {
                    alert("error");
                }
          });
                    }
                });

            });
        });
    </script>

</body>
</html>
