@model WEvaha.Models.DashboardProfileModel

            <div class="row red box" style="display:block;">

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <div class="text-center p-3">
                                <span class="priceH1">@Model.LPackages[0].PackageName</span> <span class="priceH3">@Model.LPackages[0].PackageDuration Months</span>
                                <br>

                                <br>
                                <span class="priceAmt">&#8377; @Model.LPackages[0].PackagePrice</span>
                                <br>
                                <br>

                            </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Send Unlimited Messages</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Views upto 75 Contact Numbers</li>
                            <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Standout from other Profiles</li>
                            <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Let Matches Contact you Directly</li>
                        </ul>
                        <div class="card-body text-center">
                            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <div class="text-center p-3">
                                <span class="priceH1">@Model.LPackages[1].PackageName</span> <span class="priceH3">@Model.LPackages[1].PackageDuration Months</span>
                                <br>

                                <br>
                                <span class="priceAmt">&#8377; @Model.LPackages[1].PackagePrice</span>
                                <br>
                                <br>

                            </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Send Unlimited Messages</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Views upto 150 Contact Numbers</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Standout from other Profiles</li>
                            <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Let Matches Contact you Directly</li>
                        </ul>
                        <div class="card-body text-center">
                            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <div class="text-center p-3">
                                <span class="priceH1">@Model.LPackages[2].PackageName</span> <span class="priceH3">@Model.LPackages[2].PackageDuration Months</span>
                                <br>

                                <br>
                                <span class="priceAmt">&#8377; @Model.LPackages[2].PackagePrice</span>
                                <br>
                                <br>

                            </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Send Unlimited Messages</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Views upto 300 Contact Numbers</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Standout from other Profiles</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Let Matches Contact you Directly</li>
                        </ul>
                        <div class="card-body text-center">
                            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row green box">


                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <div class="text-center p-3">
                                <span class="priceH1">@Model.LPackages[3].PackageName</span> <span class="priceH3">@Model.LPackages[3].PackageDuration Months</span>
                                <br>

                                <br>
                                <span class="priceAmt">&#x24; @Model.LPackages[3].PackagePrice</span>
                                <!-- <br><small>&#x24; 3.33 per month</small><br>--><br>

                                <br>

                            </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Send Unlimited Messages</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Views upto 75 Contact Numbers</li>
                            <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Standout from other Profiles</li>
                            <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Let Matches Contact you Directly</li>
                        </ul>
                        <div class="card-body text-center">
                            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <div class="text-center p-3">
                                <span class="priceH1">@Model.LPackages[4].PackageName</span> <span class="priceH3">@Model.LPackages[4].PackageDuration Months</span>
                                <br>

                                <br>
                                <span class="priceAmt">&#x24; @Model.LPackages[4].PackagePrice</span>
                                <!-- <br><small>&#8377; 750 per month</small><br>--><br>

                                <br>

                            </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Send Unlimited Messages</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Views upto 150 Contact Numbers</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Standout from other Profiles</li>
                            <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Let Matches Contact you Directly</li>
                        </ul>
                        <div class="card-body text-center">
                            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card h-100 shadow-lg">
                        <div class="card-body">
                            <div class="text-center p-3">
                                <span class="priceH1">@Model.LPackages[5].PackageName</span> <span class="priceH3">@Model.LPackages[5].PackageDuration Months</span>
                                <br>

                                <br>
                                <span class="priceAmt">&#x24; @Model.LPackages[5].PackagePrice</span>
                                <!--<br><small>&#8377; 800 per month</small><br>--><br>

                                <br>

                            </div>

                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Send Unlimited Messages</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Views upto 300 Contact Numbers</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Standout from other Profiles</li>
                            <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Let Matches Contact you Directly</li>
                        </ul>
                        <div class="card-body text-center">
                            <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                        </div>
                    </div>
                </div>

            </div>





            @*@if (Model.LPackages != null)
            {
                if (Model.LPackages.Count > 0)
                {

                    for (int i = 0; i < Model.LPackages.Count; i++)
                    {
                        <div class="col-lg-4 col-md-12 mb-4">
                            <div class="card h-100 shadow-lg">
                                <div class="card-body">
                                    <div class="text-center p-3">
                                        <span class="priceH1">@Model.LPackages[i].PackageName</span> <span class="priceH3">@Model.LPackages[i].PackageDuration Months</span>
                                        <br>

                                        <br>
                                        @if (Model.LPackages[i].ByCountry == 2)
                                        {
                                            <span class='priceAmt'>&#8377; @Model.LPackages[i].PackagePrice </span>
                                        }
                                        else
                                        {
                                            <span class='priceAmt'>&#x24;  @Model.LPackages[i].PackagePrice </span>
                                        }
                                        <br>
                                        <br>

                                    </div>

                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Send Unlimited Messages</li>
                                    <li class="list-group-item"><i class="fa fa-check" style="color:#00B700;"></i> Views upto 75 Contact Numbers</li>
                                    <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Standout from other Profiles</li>
                                    <li class="list-group-item"><i class="fa fa-close" style="color:#FF3300;"></i> Let Matches Contact you Directly</li>
                                </ul>
                                <div class="card-body text-center">
                                    <button class="btn btn-outline-primary btn-lg" style="border-radius:30px">Select</button>
                                </div>
                            </div>
                        </div>

                    }
                }
            }*@

