@model WEvahaDatingWEB.Models.WevahaViewModel

@{
    ViewBag.Title = "PersonalProfile";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="//code.jquery.com/jquery-1.10.2.js"></script>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    $(function () {
        $("#datepicker").datepicker();
    });
</script>
<!--================ Start Home Banner Area =================-->
<div class="container-fluid" style="background:url(../img/banner/regisBg.jpg) center no-repeat; z-index:0;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center" style="margin-top:110px; margin-bottom:60px;">


                <h3 class="text-center" style="color:#fff; font-weight:400;">Personal Details</h3>
                <hr color="#FFFFFF" width="30%" style="margin-bottom:20px;">


                <form id="frmPersonalProfile" enctype="multipart/form-data">

                    @Html.AntiForgeryToken()

                    <div class="mt-10">
                        @Html.TextBoxFor(x => x.userProfile.ProfileName, new { placeholder = "Name", @class = "form-control" })

                    </div>
                    <br />

                    <div class="mt-8">
                        @Html.TextBoxFor(x => x.userProfile.DateofBirth, new { placeholder = "Date of Birth", @class = "form-control", @id = "datepicker" })


                        <div class="mt-2">
                            @Html.TextBoxFor(x => x.userProfile.Age, new { placeholder = "Age", @class = "form-control" })

                        </div>
                    </div>




                    <div class="mt-20" style="clear:both; z-index:1000; padding-top:10px;">
                        <div class="default-select" id="default-select" style="float:left; width:48%;">
                            <select style="display: none; ">
                                <option value="1">Caste</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                            </select><div class="nice-select" tabindex="0" style=" width:100%; padding-right:0px;"><span class="current">Caste</span><ul class="list" style="overflow:scroll; height:180px;"><li data-value="1" class="option selected focus">1</li><li data-value="1" class="option">2</li><li data-value="1" class="option">3</li><li data-value="1" class="option">4</li></ul></div>
                        </div>

                        @*@Html.DropDownListFor(x => x.PersonalDetailsForm.Caste, Model.FlavorItems)
                            @Html.ValidationMessageFor(x => x.PersonalDetailsForm.Caste)*@

                        <div class="default-select" id="default-select" style="float:right; width:48%;">
                            <select style="display: none;">
                                <option value="1">Sub-Caste</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                            </select><div class="nice-select" tabindex="0" style="width:100%; padding-right:0px;"><span class="current">Sub-Caste</span><ul class="list" style="overflow:scroll; height:180px;"><li data-value="1" class="option selected focus">1</li><li data-value="1" class="option">2</li><li data-value="1" class="option">3</li><li data-value="1" class="option">4</li></ul></div>
                        </div>

                    </div>

                    <div class="mt-10" style="padding-top:10px; clear:both;">
                        @Html.TextBoxFor(x => x.userProfile.Mobile, new { placeholder = "Mobile", @class = "form-control" })

                    </div>

                    <div class="mt-10" style="clear:both; z-index:1000; ">
                        <div class="default-select" id="default-select" style="float:left; width:48%;">
                            <select style="display: none; ">
                                <option value="1">City</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                            </select><div class="nice-select" tabindex="0" style=" width:100%; padding-right:0px;"><span class="current">City</span><ul class="list" style="overflow:scroll; height:180px;"><li data-value="1" class="option selected focus">1</li><li data-value="1" class="option">2</li><li data-value="1" class="option">3</li><li data-value="1" class="option">4</li></ul></div>
                        </div>

                        <div class="default-select" id="default-select" style="float:right; width:48%;">
                            <select style="display: none;">
                                <option value="1">State</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                            </select><div class="nice-select" tabindex="0" style="width:100%; padding-right:0px;"><span class="current">State</span><ul class="list" style="overflow:scroll; height:180px;"><li data-value="1" class="option selected focus">1</li><li data-value="1" class="option">2</li><li data-value="1" class="option">3</li><li data-value="1" class="option">4</li></ul></div>
                        </div>

                    </div>


                    <div class="mt-20" style="clear:both; z-index:1000; padding-top:10px;">
                        <div class="default-select" id="default-select" style="float:left; width:48%;">
                            <select style="display: none; ">
                                <option value="1">Country</option>
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                            </select><div class="nice-select" tabindex="0" style=" width:100%; padding-right:0px;"><span class="current">Country</span><ul class="list" style="overflow:scroll; height:180px;"><li data-value="1" class="option selected focus">1</li><li data-value="1" class="option">2</li><li data-value="1" class="option">3</li><li data-value="1" class="option">4</li></ul></div>
                        </div>

                        @*<div style="float:right; width:48%;">

                                @Html.TextBoxFor(x => x.userProfile.Zipcode, new { placeholder = "Pincode", @class = "form-control" })

                            </div>*@

                    </div>

                    <div class="mt-25" style="padding-top:20px; clear:both;">
                        @*<button class="genric-btn primary circle" style="width:100%; font-size:18px;">Continue</button>*@

                        <a id="btnSubmit" class="genric-btn primary circle" style="width:100%; font-size:18px;">Continue</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

<section class="feature_area section_gap_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="main_title text-center">
                    <h2 class="mb-3 wevahaHead"><span style="color:#00bcd5;">Spend Time</span>&nbsp;<span style="color:#FF3300;">–</span>&nbsp;<span style="color:#B0B000;">It’s your Life</span></h2>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single_feature">
                    <div class="icon text-center"><img src="img/match_icon.png" width="130" height="130" alt="match"></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2 text-center" style="color:#ef5d54;">Like-Minded Connections</h4>
                        <p>
                            WE do things a little differently, while you provide us your requirements our system’s Best-Algorithms will Predict &amp; Present Like-Minded Matches for you to choose from.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="single_feature">
                    <div class="icon text-center"><img src="../img/help_icon.png" width="130" height="130" alt="match"></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2 text-center" style="color:#00aeae;">Traditional Affinity</h4>
                        <p>
                            WE Value Traditions the most, but within those traditions a Compatibility Companion is what we value the utmost. WE are here to help you to make you do it Right.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4">
                <div class="single_feature">
                    <div class="icon text-center"><img src="../img/secured_icon.png" width="130" height="130" alt="match"></div>
                    <div class="desc">
                        <h4 class="mt-3 mb-2 text-center" style="color:#617bbe;">Secure &amp; Confidential</h4>
                        <p>
                            WE have a Secure Development Life Cycle for Vulnerability Management to help &amp; secure Data by Encryption process to provide protection, Confidentiality &amp; Integrity.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<script type="text/javascript">
        $(document).ready(function () {
            $("#btnSubmit").click(function () {
                var formdata = $("#frmPersonalProfile").serialize();
                $.ajax({
                    url: "/Home/savePersonalProfile",
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    data: formdata,
                    success: function (data, status, xhr) {
                        alert("coming");
                    }

                });
            });

        });
    </script>*@